.taskList {
  margin: 0;
  list-style: none;
  padding: 0;
}

.listContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* max-width: 82%; */
}

.listContent button {
  background-color: #b00020;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px #b00020;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 0.025em;
}
.listContent button:hover {
  background-color: #c21938;
  border: solid 2px #c21938;
}
.text {
  max-width: 82%;
  height: auto;
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 600;
  color: black;
  margin: 0.25em 0;
  text-align: left;
}

.h2 {
  text-align: center;
}
.loadingTasks {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .h2 {
    margin: 0;
  }
}
