.todoList {
  margin: 0;
  /* color: blue; */
  list-style: none;
  padding: 0;
}
.listContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.listContent button {
  background-color: #b00020;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px #b00020;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 0.025em;
}
.listContent button:hover {
  background-color: #c21938;
  border: solid 2px #c21938;
}

.listContent h4,
.listContent p {
  color: black;
  margin: 0.25em 0;
  font-weight: 800;
}
.listContent p {
  font-weight: 500;
}
.h2 {
  color: #0077b6;
  margin: 0 auto;
  width: 55%;
}
.loadingTodos {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .h2 {
    margin: 0;
  }
}
