.todoList {
  margin: 0;
  /* color: blue; */
  list-style: none;
  padding: 0;
}

.textContent {
  max-width: 82%;
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
}
.textContent h4,
.textContent p {
  color: black;
  margin: 0.25em 0;
  font-weight: 800;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.15rem;
}
.textContent p {
  font-weight: 600;
  font-size: 1rem;
}
.listContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: auto;
}
.listContent button {
  background-color: #b00020;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px #b00020;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 0.025em;
}

.listContent button:hover {
  background-color: #c21938;
  border: solid 2px #c21938;
}

.loadingTodos {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  /* section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
  } */
}
